.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.movies-title {
  width: fit-content;
  color: var(--font-primary);
  font-size: 1.2rem;
  border-right: 2px solid;
  padding-right: 10px;
  margin-bottom: 10px;
}
