.header {
  height: 60px;
  background: var(--secondary-color);
}
.logo {
  padding-top: 12px;
  font-size: 22px;
}

.searchStyle {
  padding-top: 14px;
  display: flex;
  justify-content: flex-end;
}
.searchStyle > input {
  width: 80%;
  padding: 2px 10px;
  border: none;
}
.searchStyle > input:focus {
  outline: none;
}
.searchStyle > button {
  border: none;
  padding: 2px 10px;
}
